.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  column-gap: 24px;
}

.features-item {
  max-width: 264px;
}

.features-icon-container {
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 264px;
  height: 112px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.features-icons {
  width: 64px;
  height: 64px;
  fill: #2e2f42;
}

.features-title {
  padding-bottom: 8px;
}

.features-title,
.features-paragraph {
  text-align: left;
}
