.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-heading {
  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  transition:
    box-shadow 250ms,
    box-shadow 250ms;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-text {
  transform: translateY(0);
}

.portfolio-list-item-text {
  position: relative;
  overflow: hidden;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  padding-bottom: 8px;
}

.portfolio-title,
.portfolio-paragraph {
  text-align: left;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  transform: translateY(100%);
  padding: 40px 32px;
  transition: transform 250ms linear;
}
