.section-team {
  padding: 120px 0;
  background-color: var(--cloud);
}

.team-heading {
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
}

.team-card {
  padding-top: 32px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 32px;
}

.team-title {
  padding-bottom: 8px;
}

.team-employes {
  padding-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: background-color 250ms;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
  border-radius: 50px;
}

.team-social-icons {
  fill: var(--cloud);
}
